#debug config file
#Sun Mar 03 00:48:14 EET 2013
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=C\:/Program Files (x86)/CooCox/CoIDE/flash/flash
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.adapter=ColinkEx
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
